$text-color: #0a0a0a;
$border-color: #e9ecef;

:root {
    --text-color: #{$text-color};
    --body-bg: #FFF;
    --bg-opacity: rgba(255,255,255, .97);
    --border-color:#{$border-color};

    --border-dark: #000;
    --border-light: #{$border-color};
}

.dark {
    &:root {
        --text-color: #FFF;
        --body-bg: #1a1a1a;
        --bg-opacity: rgba(0,0,0, .97);
        --border-color: #FFF;
        
        --border-dark: #FFF;
        --border-light: #282828;
    }
}