.header {
    border-bottom: 1px solid #ebebeb;
    padding: 1rem;

    .wrap {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 1.5rem;

        &__white {
            display: none;
        }

        img {
            height: 30px;
        }
    }

}

.dark {
    .logo {
        &__dark {
            display: none;
        }

        &__white {
            display: block;
        }
    }
}