.posts-editors {
    margin-top: 50px;

    .posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 -20px;
    }
}

.posts-title {
    margin-bottom: 2.5rem;

    h3 {
        font-size: 1.625rem;
        padding-bottom: 0.313rem;
        color: var(--text-color);
    }

    p {
        font-size: 0.938rem;
        color: var(--color-p);
    }
}

.post {
    padding: 0 20px;
    margin-bottom: 40px;
    position: relative;



    img {
        border-radius: 0.313rem;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }


    .post-category {
        position: absolute;
        top: 1.25rem;
        left: 2.5rem;

        span {
            display: inline;
        }
    }

    .post-heart {
        position: absolute;
        top: 1.25rem;
        right: 2.5rem;

        i {
            color: #fff;
        }
    }


    h3 {

        font-size: 1.375rem;
        color: var(--text-color);
        transition: all ease .35s;
        margin-top: 1rem;

        &:hover {
            color: var(--hover-color);
            cursor: pointer;
        }
    }

    p {
        font-size: 0.75rem;
        color: var(--color-p);
    }

    .post-meta {
        font-size: 0.75rem;
    }




}